.eve{
  width:300px;
  height:217px;
  padding:10px!important;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  border:1px solid #808080;
  border-radius:10px;
  corner-shape:scoop;
}

.eveimg{
  width:280px;
  height:197px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  overflow:hidden;
  object-fit:cover;
  display:block;
  transition:1s ease;
  border-radius:10px;
  corner-shape:round;
}

.eveimg img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.texture{
  width:280px;
  height:197px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background-image:url(https://64.media.tumblr.com/815a88ee6ae1937bed77a8d0aa4f4e89/9bab5a3144918b36-7b/s500x750/526c3a95d6e8784f575fe041eb0d652a1f0eade0.gifv);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  mix-blend-mode:screen;
  opacity:0;
  z-index:2;
  pointer-events:none;
  border-radius:10px;
  clip-path:inset(0 round 10px);
  filter:brightness(0.6) contrast(1.2);
  transition:all ease-in-out 1s;
}

.eve:hover .texture{
  opacity:.05;
  transition:.5s ease;
  transition-delay:.75s;
}

.textureb{
  width:0;
  height:100%;
  background:#856161;
  position:absolute;
  top:0;
  left:0;
  mix-blend-mode:multiply;
  opacity:1;
  z-index:1;
  border-radius:10px;
  transition:width 1s ease-in-out;
}

.eve:hover .textureb{
  width:100%;
}

.evetop,
.evebottom{
  position:absolute;
  width:210px;
  text-align:center;
  color:#d9d2c7;
  font-family:'Fathers Outline', sans-serif;
  font-size:40px;
  line-height:8px;
  letter-spacing:2px;
  text-transform:uppercase;
  font-style:italic;
  opacity:0;
  transition:opacity .5s ease, transform .6s ease;
  z-index:4;
}

.evetop{
  bottom:120px;
  right:-10%;
  transform:translateY(-8px);
}

.evebottom{
  top:120px;
  right:2%;
  transform:translateY(-8px);
}

.eve:hover .evetop{
  opacity:1;
  transform:translateY(0);
  transition-delay:.50s;
}

.eve:hover .evebottom{
  opacity:1;
  transform:translateY(0);
  transition-delay:.50s;
}

.evesub{
  position:absolute;
  width:160px;
  color:#d9d2c7;
  height:15px;
  left:35.3%;
  bottom:25%;
  box-sizing:border-box;
  font-family:'Noto Serif Toto', sans-serif;
  font-size:6.8px;
  line-height:16px;
  text-indent:5px;
  letter-spacing:5px;
  text-align:center;
  text-shadow:0.5px 0.5px 0.5px #000;
  padding:0;
  opacity:0;
  transform:translateY(8px);
  transition:opacity .5s ease, transform .6s ease;
  z-index:4;
}

.eve:hover .evesub{
  opacity:1;
  transform:translateY(0);
  transition-delay:.75s;
}

.line{
  width:149px;
  height:0.5px;
  position:absolute;
  bottom:32%;
  right:13%;
  display:block;
  transform:translateY(8px);
  border-top:1px dotted #808080;
  opacity:0;
  transition:opacity .5s ease, transform .6s ease;
  z-index:4;
}

.eve:hover .line{
  opacity:1;
  transform:translateY(0);
  transition-delay:.75s;
}

.blink{
  animation:none;
  z-index:5;
}

.eve:hover .blink{
  animation:motelblink 4s infinite;
}

@keyframes motelblink{
  0%{
    opacity:1;
  }

  35%{
    opacity:1;
  }

  36%{
    opacity:0;
  }

  38%{
    opacity:1;
  }

  40%{
    opacity:0;
  }

  43%{
    opacity:0;
  }

  45%{
    opacity:1;
  }

  70%{
    opacity:1;
  }

  71%{
    opacity:0;
  }

  73%{
    opacity:1;
  }

  74%{
    opacity:0;
  }

  78%{
    opacity:0;
  }

  82%{
    opacity:1;
  }

  100%{
    opacity:1;
  }
}
